/* header{
    background-position: 6%;

  }

  .menuSzoveg{
    position: fixed;
    bottom: 250px;
    font-size: 20px;
    width: 100%;
    display:flow-root;
    margin-left: 30px;
  }

  .foSzoveg{
    font-size: 50px;
  }

  .readMore{
    left: 30px;
    margin-left: 0;
  } */
