main {
  margin: 200px auto;
  width: 50%;
}

.container {
  padding: 0 !important;
}

.table {
  opacity: 90%;
  --bs-table-hover-bg: #0dcaf061;
}

.table tbody tr td:last-child {
  text-align: center;
  cursor: pointer;
}
.table tbody tr td:last-child a {
  color: rgb(97, 223, 124);
}
table i {
  font-size: 1em;
}

.total {
  width: 1em;
}

.date {
  width: 1em;
}

.time {
  width: 1em;
}

.client {
  width: 10em;
}

.cliendId {
  width: 6em;
}

.download{
  width: 1em;
}