video::-webkit-media-controls-panel {
  display: none;
}

video {
  pointer-events: none;
  width: 100vw;
  height:95vh;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  video{
    object-fit: contain;
    width: auto;
    height: auto;
  }
 
}