@import url("./kartyak.css");
@import url("./uzenetek.css");

.admin {
  background-image: url("/public/images/header/3.jpeg");
}

.szamla {
  background-image: url("/public/images/header/3.jpeg");
}

.admin,
.szamla {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 95vh;
  width: 100vw;
  padding-top: 10vh;
}
