
.Title{
    padding-top: 5vh;
    color: white;
    text-decoration: underline;
    padding-left: 5vw;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}

.card{
    width: 20%;
    margin-top: 2vh;
    margin: 1vh;
}