@import url(./szamla.css);
@import url(./fooldal.css);
<<<<<<< HEAD
@import url(./uzenetek.css);
=======

>>>>>>> ee771ac4b87cb5bb974cfba45f6ee5935adcb18b

body {
    background-image: url("../../imgs/header/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
}