body {
  background-image: url("../imgs/header/1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100vw;
}

main {
  margin: 200px auto;
  width: 60%;
}

.container {
  padding: 0 !important;
}

.table thead th {
  max-width: 12em;
}

.table thead th:last-child {
  width: 6em;
}

.table {
  margin-top: 5em;
}

.table tbody tr td:last-child {
  color: rgb(131, 201, 247);
  text-align: center;
}


.total {
	width: 7em;
  }
  
  
  .date{
	  width: 10em;
  }
  
  .time{
	  width: 7em;
  }
  
  .client{
	  width: 15em;
  }
  
  .cliendId {
	width: 15em;
  }
