@import url(./menu.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


.szolgaltatasok{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: 100px;
  background-color: #f2f2f2; 
  border: 2px  #333; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  color: #333; 
  font-size: 16px; 
  font-family: Arial, sans-serif; 
}

.szolgaltatasok img{
  float: left;
  width: 250px;
  height: 200px;
  padding: 10px;
}





/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
  /* @import url(/style/responsive/home.css); */
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
